**Yandex Practicum Project 1**

**The Borrowers realiability Research**

In this project I'll try to figure out how marital status and number of children in the family affect the fact of loan repayment  in time

The file contains 21525 rows and 12 columns. The columns are:
1. **`children`** - number of children in the family
2. **`days_employed`** - total length of service in days
3. **`dob_yeard`** - clients age in years
4. **`educatuion`** - clients education level
5. **`education_id`** - education level id
6. **`family_status`** - clients family status 
7. **`familys_status_id`** - family status id
8. **`gender`** - clients gender
9. **`income_type`** - clients income type
10. **`debt`** - if client has ever had loan repayments debts
11. **`total_income`** - clients montly income
12. **`purpose`** - the purpose of obtaining a loan

**General Data Information**

**Packages Loading and Data**

In [9]:
import pandas as pd

data = pd.read_csv(r'C:\Users\RUKryuchIl\Desktop\Мое\Projects\data.csv')

In [10]:
data.head(10) # 10 first rows

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [11]:
data.info() # general information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Data Preparation**

In [13]:
data.isna().sum() # the count of missing values for every column

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**There are missing values in two different columns. Firstly I'll handle with missing values in `total_income`. This column contains income info. Clients income is mostly affected by income type, so I'll fill the blanks for every client with the median value by every type he or she belong to.**

In [14]:
for index in data['income_type'].unique():
    income_median = data.loc[data['income_type'] == index, 'total_income'].median()
    data.loc[data['income_type'] == index, 'total_income'] = data.loc[data['income_type'] == index, 'total_income'].fillna(income_median)

**Now I'll deal with Anomalies**

**It's obviously clear, that negative values in `days_employed` table is abnormal. So I'll replase those values with its absolute values.**

In [15]:
data['days_employed'] = data['days_employed'].abs()

In [16]:
data.groupby('income_type')['days_employed'].median() # Median Value for every income_type

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

In [17]:
data['children'].unique() # unique values for children column

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Let's delete rows with abnormal values (-1,20)**

In [18]:
data = data.loc[(data['children'] != -1) & (data['children'] != 20)]

**Now let's fill missing values in `days_employed` column**

In [24]:
for index in data['income_type'].unique():
    income_median = data.loc[data['income_type'] == index, 'days_employed'].median()
    data.loc[data['income_type'] == index, 'days_employed'] = data.loc[data['income_type'] == index, 'days_employed'].fillna(income_median) # again with median values

In [25]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

**Let's change the datatype for `total_income` column. All other datatypes're ok**

In [26]:
data['total_income'] = data['total_income'].astype(int)

**Now let's deal with duplicates**

In [27]:
data['education'] = data['education'].str.lower() # transform all education values to lowercase

In [28]:
data.duplicated().sum() # the count of duplicates row

71

In [29]:
data.drop_duplicates(inplace=True) # let's delete them

In [30]:
data.duplicated().sum()

0

**Data categorization**

**Let's create some categories based on total_income_category column** 

0-30000 - **E**

30001-50000 - **D**

50001 - 200000 - **C**

200001 - 1000000 - **B**

more then 1000000 - **A**

In [31]:
def categorize_income(df):
    
    if df >= 0 and df <= 30000:
        return 'E'
    if df >= 30001 and df <= 50000:
        return 'D'
    if df >= 50001 and df <= 200000:
        return 'C'
    if df >= 200001 and df <= 1000000:
        return 'B'
    if df >= 1000001:
        return 'A'

In [32]:
data['total_income_category'] = data['total_income'].apply(categorize_income) # applying new function to the dataset

**Lets create some categories by `purpose_category` column:**

1. `car operation`

2. `property transactions`

3. `wedding`

4. `education`

In [33]:
def categorize_purpose(df):
    if 'авто' in df :
        return 'car operation'
    if 'недв' in df or 'жил' in df:
        return 'property transactions'
    if 'свад' in df:
        return 'wedding'
    if 'образ' in df:
        return 'education'

In [34]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose) # applying new function to the dataset

**Data Explorations**

**Now let's learn if there's a connection between number of children and the fact of loan repayment in time**

**There are only values in `debt` column. `1` if ther is a debt and `0` if not**

Lets group all clients by the number of children

In [35]:
data.groupby('children')['children'].count() # count of clients by category

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

In [36]:
data.groupby('children')['debt'].sum() # count of debtors by category

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

Lets calculate the percentage of debtors for each category

In [39]:
debt_ = data.groupby('children')['debt'].sum() / data.groupby('children')['children'].count() * 100
debt_.astype(str) + '%'

children
0    7.543822297920659%
1    9.234608985024959%
2      9.4541910331384%
3    8.181818181818182%
4     9.75609756097561%
5                  0.0%
dtype: object

**We can observe a slight 1.5% increase depending on the number of children in the family.
So, it can be said that the number of children does not affect the fact of repayment of the loan in time.**

**Now let's learn if there's a connection between marriage status and in time loan repayment.**

In [41]:
data['family_status'].unique() # unique values for family_status

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

In [42]:
data['family_status_id'].unique() # unique values for family_status_id

array([0, 1, 2, 3, 4], dtype=int64)

**I'll do it the same way: calculate count of clients and debtord for every category and fint the percentage of debtors.**

In [44]:
data.groupby('family_status')['debt'].sum() # count of debtors by category

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

In [46]:
data.groupby('family_status')['family_status'].count() # count of clients by category

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4134
женат / замужем          12261
Name: family_status, dtype: int64

In [51]:
debt__ = data.groupby('family_status')['debt'].sum() / data.groupby('family_status')['family_status'].count() * 100
debt__.astype(str) + '%'

family_status
Не женат / не замужем    9.763948497854077%
в разводе                7.064760302775442%
вдовец / вдова           6.624605678233439%
гражданский брак         9.313014029995163%
женат / замужем          7.560557866405676%
dtype: object

**We can see, that the percentage of debtors is higher among unmarried clients and those of them who lives in a common-low relationship**

**Now let's learn if there's a connection between income level and in time loan repayment.**

In [48]:
data.groupby('total_income_category')['debt'].sum() # count of debtors by categories

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

In [50]:
data.groupby('total_income_category')['total_income_category'].count() # count of clients by category

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: total_income_category, dtype: int64

In [52]:
debt___ = data.groupby('total_income_category')['debt'].sum() / data.groupby('total_income_category')['total_income_category'].count() * 100
debt___.astype(str) + '%'

total_income_category
A                  8.0%
B    7.060231352213801%
C    8.498209911437723%
D    6.017191977077363%
E    9.090909090909092%
dtype: object

**We can observe biggest values for `C` and `E` categories. In the first case it can be explained by a very low income level. In the second case it may occure because of very large loan amounts.
In general, we can see that the transition to the category of well-off citizens has a positive impact on the fact of loan timely repayment.**